.rootLayout {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 80%;
  @include webp('/img/first-bg.webp', '/img/first-bg.jpg');
}

//.rootLayout {
//  :global(.ant-layout-sider) {
//    background-color: transparent;
//  }
//}

.layout {
  margin-top: 72px;
}

.application {
  display: grid;
  grid-template-areas:
    "h"
    "m"
    "f";
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.header {
  grid-area: h;
}

.main {
  min-height: calc(100vh - 100px);
  grid-area: m;
}

.footer {
  grid-area: f;
}