.changer {
    --delay: 3;
    position: relative;

    span {
        display: block;
        position: absolute;
        opacity: 0;
        overflow: hidden;
        color: var(--color-primary);
        animation: rotateWord 18s linear infinite 0s;
    }
}

@for $i from 1 through 12 {
    .changer span:nth-child(#{$i}) {
        animation-delay: calc(var(--delay) * #{$i}s);
    }
}

@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; transform: translateY(-30px); }
    5% { opacity: 1; transform: translateY(0px);}
    17% { opacity: 1; transform: translateY(0px); }
    20% { opacity: 0; transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}