.title {
    margin-bottom: 20px;

    @include lg-block {
        margin-bottom: 40px;
    }
}

.slider ul {
    @include list-reset;
    align-content: stretch;
}

.slider {
    width: 100%;
    grid-column: 1 / -1;
    margin-bottom: var(--offset-xs);
}
